/* Import WebFonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700); /* 'Open Sans' */

/* Font settings */
$baseFontSize: 14;
$baseFont: "Open Sans", serif;
$baseLineHeight: 26px;